<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CafeLounge | Tables</title>

    <link rel="stylesheet" href="/css/output.css">
</head>

<body>
    <div class="drawer">
        <input id="my-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
            <!-- Page content here -->
            <div class="navbar bg-base-100 shadow-sm">
                <div class="flex-none">
                    <label for="my-drawer" class="btn btn-square btn-ghost">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="inline-block h-5 w-5 stroke-current">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16">
                            </path>
                        </svg>
                    </label>
                </div>
                <div class="flex-1 ml-5">
                    <p>Activity / <small>Tables</small></p>
                </div>
                <div class="flex-none">
                    <button class="btn btn-square btn-ghost">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="inline-block h-5 w-5 stroke-current">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>

            <div class="flex min-h-[calc(100vh-64px-1.25rem)] px-3 gap-3 mt-5">
                <div class="min-w-xs flex flex-col">
                    <a href="/activity/billing-queue" class="rounded-md p-3">Billing
                        Queue</a>
                    <a href="/activity/order-history" class="rounded-md p-3 ">Order History</a>
                    <a href="/activity/tables" class="rounded-md p-3 bg-primary text-primary-content">Tables</a>
                </div>

                <div class="flex-1">
                    <div class="flex items-center justify-between">
                        <div class="flex gap-5">
                            <div class="flex items-center gap-3">
                                <div class="rounded-full h-2 w-2 bg-neutral-500"></div>
                                <span>Available</span>
                            </div>

                            <div class="flex items-center gap-3">
                                <div class="rounded-full h-2 w-2 bg-primary"></div>
                                <span>Served</span>
                            </div>

                            <div class="flex items-center gap-3">
                                <div class="rounded-full h-2 w-2 bg-secondary"></div>
                                <span>Reserved</span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <input type="text" class="input" placeholder="Search">
                            </div>
                        </div>
                    </div>

                    <div class="mt-3 w-full flex flex-col gap-3">

                        <div class="border-b border-neutral-content py-5">
                            <p>2 Persons Table</p>

                            <div class="mt-3 w-full flex gap-3">
                                <div class="card rounded-md bg-primary-content">
                                    <div class="card-body p-3 items-center">
                                        <div class="flex flex-col items-center">
                                            <span class="p-2 rounded-xl">
                                                T-01
                                            </span>
                                            <p>
                                                <span>Sharon:</span>
                                                <span>2 Guests</span>
                                            </p>
                                        </div>

                                        <span>--:--</span>
                                    </div>
                                </div>

                                <div class="card rounded-md bg-primary-content">
                                    <div class="card-body p-3 items-center">
                                        <div class="flex flex-col items-center">
                                            <span class="p-2 rounded-xl">
                                                T-01
                                            </span>
                                            <p>
                                                <span>Sharon:</span>
                                                <span>2 Guests</span>
                                            </p>
                                        </div>

                                        <span>--:--</span>
                                    </div>
                                </div>

                                <div class="card rounded-md bg-primary-content">
                                    <div class="card-body p-3 items-center">
                                        <div class="flex flex-col items-center">
                                            <span class="p-2 rounded-xl">
                                                T-01
                                            </span>
                                            <p>
                                                <span>Sharon:</span>
                                                <span>2 Guests</span>
                                            </p>
                                        </div>

                                        <span>--:--</span>
                                    </div>
                                </div>

                                <div class="card rounded-md bg-primary-content">
                                    <div class="card-body p-3 items-center">
                                        <div class="flex flex-col items-center">
                                            <span class="p-2 rounded-xl">
                                                T-01
                                            </span>
                                            <p>
                                                <span>Sharon:</span>
                                                <span>2 Guests</span>
                                            </p>
                                        </div>

                                        <span>--:--</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="drawer-side">
            <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
            <div class="bg-base-200 text-base-content min-h-full w-80 flex flex-col justify-between">
                {{> partials/drawer-menu }}
            </div>
        </div>
    </div>
</body>

</html>