<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{$title}} CafeLounge {{/title}}</title>

    <link rel="stylesheet" href="/css/output.css">
</head>

<body>
    <div class="drawer">
        <input id="my-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
            {{$content}}
            {{/content}}
        </div>
        <div class="drawer-side">
            <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
            <div class="bg-base-200 text-base-content min-h-full w-80 flex flex-col justify-between">
                {{> partials/drawer-menu }}
            </div>
        </div>
    </div>

    {{$scripts}}{{/scripts}}
</body>

</html>