{{<_layout}}
{{$title}}CafeLounge | Inventory{{/title}}



{{<partials/navbar}}
    {{$title}}Inventory{{/title}}
{{/partials/navbar}}


{{$content}}
    {{>partials/navbar}}

    <main class="px-5">
        <h1>Hello, World</h1>
    </main>


{{/content}}


{{$scripts}}
{{/scripts}}


{{/_layout}}