{{<_layout}}
    {{$title}} CafeLounge | Inventory {{/title}}
{{$content}}
{{<partials/navbar}}
    {{$title}} Teams {{/title}}
{{/partials/navbar}}


<main>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Team Member</th>
                <th>Date added</th>
                <th>Status</th>
                <th>Roles</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>

    </table>
</main>

{{/content}}
{{/_layout}}